<div class="start bg-cube pt-5">
    <div class="px-5">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 d-flex align-items-center">
                <div class="info-start">
                    <h1 class="text-white">I invite you to learn a bit about my experience.</h1>
                    <br>
                    <a class="btn-back" href="https://felixpajon05.github.io/portfolio/">Back</a>
                </div>
            </div>
            <div class="col-xs-0 col-sm-0 col-md-6 col-lg-6 d-flex justify-content-center">
                <ul class="text-cube">
                    <li class="d-flex align-items-end">
                        <h1>F</h1>
                        <h5> é l i x</h5>
                    </li>
                    <li class="d-flex align-items-end">
                        <h1>B</h1>
                        <h5> e n j a m í n</h5>
                    </li>
                    <li class="d-flex align-items-end">
                        <h1>P</h1>
                        <h5> a j ó n</h5>
                    </li>
                    <li class="d-flex align-items-end">
                        <h1>A</h1>
                        <h5> c e v e d o</h5>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row py-4">
            <div class="row d-flex justify-content-center">
                <div class="col">
                    <div class="card rounded-0">
                        <div class="p-3">
                            <i class="fa-solid fa-code" id="icon"></i>
                            <h5 class="text-white">Web Scraping</h5>
                            <p class="text-justify text-gray">
                                Web scraping is a technique used to automatically 
                                extract data from websites using software or scripts.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-0">
                        <div class="p-3">
                            <i class="fa-solid fa-file-code" id="icon"></i>
                            <h5 class="text-white">Frontend</h5>
                            <p class="text-justify text-gray">
                                Frontend is the part of a website or application that 
                                users interact with directly.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-0">
                        <div class="p-3">
                            <i class="fa-solid fa-network-wired" id="icon"></i>
                            <h5 class="text-white">APIs</h5>
                            <p class="text-justify text-gray">
                                APIs (Application Programming Interfaces) are sets of rules 
                                and protocols that allow different applications to communicate 
                                with each other.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-0">
                        <div class="p-3">
                            <i class="fa-solid fa-server" id="icon"></i>
                            <h5 class="text-white">Backend</h5>
                            <p class="text-justify text-gray">
                                Backend is the part of a website or application that works 
                                behind the scenes to process and store data, 
                                and manage business logic.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-0">
                        <div class="p-3">
                            <i class="fa-solid fa-database" id="icon"></i>
                            <h5 class="text-white">Database</h5>
                            <p class="text-justify text-gray">
                                Databases are organized systems for storing, 
                                managing, and retrieving information in a 
                                structured and efficient manner.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="projects">
    <div class="container text-center">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            <div class="col" id="shadow-cube">
                <a class="p-3" href="/web-scraping-inegi">Web scraping to INEGI website</a>
            </div>
            <div class="col">
                <div class="p-3">Row column</div>
            </div>
            <div class="col">
                <div class="p-3">Row column</div>
            </div>
            <div class="col">
                <div class="p-3">Row column</div>
            </div>
            <div class="col">
                <div class="p-3">Row column</div>
            </div>
            <div class="col">
                <div class="p-3">Row column</div>
            </div>
            <div class="col">
                <div class="p-3">Row column</div>
            </div>
            <div class="col">
                <div class="p-3">Row column</div>
            </div>
            <div class="col">
                <div class="p-3">Row column</div>
            </div>
            <div class="col">
                <div class="p-3">Row column</div>
            </div>
        </div>
    </div>
</div>